<mat-card>
    <div class="container">
        <h3 mat-dialog-title>Add new Card/Account information</h3>
      
        <form class="mat-dialog-content" (ngSubmit)="submit()" #formControl="ngForm">
      
          <div class="form">
            <mat-form-field appearance="fill">
              <mat-label>Account Alias</mat-label>
              <input type="text" matInput [(ngModel)]="accountInfo.accountAlias" name="accountAlias" required/>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <div class="form">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Credit card, savings account, etc..." [(ngModel)]="accountInfo.accountDescription" name="accountDescription" required></textarea>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
      
          <div class="form">
            <mat-form-field appearance="fill">
                <mat-label>Current value</mat-label>
                <input type="number" matInput [(ngModel)]="accountInfo.accountValue" name="accountValue" required/>
                <span matPrefix>₹&nbsp;</span>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
      
          <div mat-dialog-actions>
            <button type = "submit" mat-button [disabled]="!formControl.valid">Save</button>
            <button mat-button (click)="remove_me()">Cancel</button>
          </div>
        </form>
      </div>
</mat-card>