<div style="height: 10rem; display: flex; align-items: center; justify-content:center;">
  
  <button mat-button style="padding: 1rem;" (click)="login()">
  <mat-icon style="width: 50px; height:30px"
            svgIcon="logo"></mat-icon> Login With Google
  </button>  
  </div>
  