<div class="container">
    <h3 mat-dialog-title>Add new Transaction</h3>
  
    <form class="mat-dialog-content" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="data.type" name="type" required>
                <mat-option value="Income">Income</mat-option>
                <mat-option value="Expense">Expense</mat-option>
                <mat-option value="Transfer">Transfer</mat-option>
                <mat-option value="Savings">Savings</mat-option>
                <mat-option value="Investments">Investments</mat-option>
            </mat-select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
            <mat-label>Amount</mat-label>
            <input type="number" matInput [(ngModel)]="data.amount" name="amount" required/>
            <span matPrefix>₹&nbsp;</span>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Food, Rent, etc..." [(ngModel)]="data.description" name="description" required></textarea>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="data.transactionDate" name="transactionDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Debited Account</mat-label>
          <mat-select name="type" [(ngModel)]="data.debitedAccountId" name="debitedAccountId" >
            <mat-option *ngFor = "let account of availableAccountInfo"
            [value] = "account.id" >{{ account.accountAlias }}
          </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Credited Account</mat-label>
          <mat-select name="type" [(ngModel)]="data.creditedAccountId" name="creditedAccountId">
            <mat-option *ngFor = "let account of availableAccountInfo"
            [value] = "account.id" >{{ account.accountAlias }}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-button [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>