<mat-card class="example-card">
    <mat-card-title>PortFolio</mat-card-title>
    <mat-card-subtitle class="mat-card-font-custom-subtitle">Current month</mat-card-subtitle>
    <mat-card-content *ngIf = "!(availableAccountInfo | keyvalue)?.length">
        <h3 class = "no-transaction-format">No transactions in this month</h3>
    </mat-card-content>
    <mat-card-content *ngIf = "(availableAccountInfo | keyvalue)?.length">
        <table class="table">
            <tbody>
                <tr *ngFor = "let expense of availableAccountInfo | keyvalue">
                    <td class="mat-card-font-custom-content">{{expense.key}}</td>
                    <td class="text-center mat-card-font-custom-content" 
                    [ngClass]="{'expense-font-format': expense.key === 'Expense'}">
                    <span *ngIf="expense.key === 'Expense'">-&nbsp;</span>
                        <span matPrefix>₹&nbsp;</span>{{expense.value}}
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>