
  <mat-toolbar color="primary" >
      <span routerLink="/">Budget Planner</span>
      
      <span class="logout">
        <span class="bell-icon">
          <mat-icon>notifications_none</mat-icon>
        </span>
         <button  mat-mini-fab [matMenuTriggerFor]="menu" color="accent">
          <mat-icon>menu</mat-icon>
          </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>Manage Profile</span>
            </button>
            <button mat-menu-item routerLink="/account/info">
              <mat-icon>account_balance</mat-icon>
              <span>Manage account</span>
            </button>
            <button mat-menu-item (click) = "removeToken()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
        </mat-menu>
      </span>
    </mat-toolbar>