/* Toolbar */
.spacer {
    flex: 1 1 auto;
  }

.bell-icon{
    margin-right:20px!important;
    display: inline-block;
    vertical-align: bottom;
}

.ylb-app-content{
    padding: 16px;
}

.logout{
    display: inline-block;
    width: 100%;
    text-align: right;
    vertical-align: bottom;
  }
  
  .mat-menu-item:hover{
    color: #aa3c9f;
  }
  .mat-menu-item:hover .mat-icon{
    color: #aa3c9f;
  }