<div>
    <button mat-icon-button color="primary" (click)="collectAccountInformation()">
        <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="Add new account">add</mat-icon>
    </button>
</div>

<div *ngIf="isAvailable">
    <ng-container *ngFor="let accountInfo of availableAccountInfo">
        <mat-card class="example-card">
            <table class="table">
                <tbody>
                    <tr>
                        <td>{{accountInfo.accountAlias}}</td>
                        <td rowspan=2 colspan=2 class="align-middle h1 bold text-center">{{accountInfo.accountValue}}</td>
                        <td rowspan=2 colspan=2 class="align-middle text-center">
                            <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary"
                                (click)="editItem(accountInfo)">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn"
                                (click)="deleteItem(accountInfo.id)">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>{{accountInfo.accountDescription}}</td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
        <mat-divider></mat-divider>
    </ng-container>
</div>

<div>
    <ng-template #viewContainerRef></ng-template>
</div>