<div class="container">
    <h3 mat-dialog-title>Update Account Information</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
        <div class="form">
            <mat-form-field appearance="fill">
              <mat-label>Account Alias</mat-label>
              <input type="text" matInput [(ngModel)]="data.accountAlias" name="accountAlias" required/>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <div class="form">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Credit card, savings account, etc..." [(ngModel)]="data.accountDescription" name="accountDescription" required></textarea>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <div class="form">
            <mat-form-field appearance="fill">
                <mat-label>Current value</mat-label>
                <input type="number" matInput [(ngModel)]="data.accountValue" name="accountValue" required/>
                <span matPrefix>₹&nbsp;</span>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
  
      <div mat-dialog-actions>
        <button mat-button [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>