<mat-card>
  <mat-card-subtitle>Welcome {{accountName}}</mat-card-subtitle>
</mat-card>

<app-account-dashboard [events]="eventsSubject.asObservable()"></app-account-dashboard>
<button mat-icon-button color="primary" (click)="addNew()">
    <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="Add new transaction">add</mat-icon>
</button>

<div>
    <table mat-table [dataSource]="recentTransaction" multiTemplateDataRows class = "mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="transactionDate">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.transactionDate}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary"
                (click)="startEdit(element.id, element.amount, element.type, element.description, 
                element.transactionDate, element.moneyTransition.debitedAccountId, element.moneyTransition.creditedAccountId)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" 
                (click)="deleteItem(element.id, element.amount, element.type, element.description)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <table>
                      <thead>
                        <tr>
                          <th scope="col">{{element.description}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <div *ngIf="element.moneyTransition.debitedAccountId">
                          <tr>
                            <td class="text-left">{{element.moneyTransition.debitedAccountAlias}}</td>
                            <td class="debited-color text-left">{{element.moneyTransition.debitedValue}} (-)</td>
                          </tr>
                        </div>
                        <div *ngIf="element.moneyTransition.creditedAccountId">
                        <tr>
                          <td class="text-left">{{element.moneyTransition.creditedAccountAlias}}</td>
                          <td class="credited-color text-left">{{element.moneyTransition.creditedValue}} (+)</td>
                        </tr>
                      </div>
                      </tbody>
                    </table>
              </div>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === row"
        (click)="expandedElement = expandedElement === row ? null : row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
</div>